/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/03/2014, 12:28:59
    Author     : Admin
*/

/* Page styles */
.div-error {
        
        margin: auto;
        
	/* margin-left: auto; */
        width: 1px;
        height: 1px;
	display: block;
}

body,h1,h2,h3,p,td,quote,small,form,input,ul,li,ol,label{
    /* margin:0px; */
    /* padding:0px; */
}
input[type=text],input[type=password], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  height: 10%;
  width: 30%;
  position: relative;
}
 
input[type=text]:focus,input[type=password]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}
.ui-widget {
	
        width: 900px;
        margin-right: auto;
        margin-left: auto;
        background: #DDF0F8;
        padding: 30px 30px 20px 30px;
        box-shadow: #868686 0 0px 10px -1px;
        -webkit-box-shadow: #868686 0 0px 10px -1px;
        font: 14px Arial, Helvetica, sans-serif;
        color: #666;
}
.logo{
   
    padding: 15px;
    background: url(http://ih.constantcontact.com/fs074/1101257128861/img/501.png) #cbd4e4;
    background-color: rgb(203, 212, 228);
    background-size: 30% 100%;
    background-position: top left;
    text-align: right;
    font-style: oblique;
    font: message-box;
    background-repeat: no-repeat;
    /* background: #cbd4e4; */
   
    margin: 4% auto 4% auto;
    /* margin-left:10%; */
    width: 80%;
   
    font-stretch: extra-expanded;
    color: blue;
    height: 50px;
}
.errorHighlight
{
    box-shadow: 0 0 5px rgba(255, 0, 0, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(255, 0, 0, 1);
}

body{
    margin-top:20px;
    font-family:Arial, Helvetica, sans-serif;
    color:#51555C;
    height: 100%;

    font-size:11px;
}

/* Form styles */

/*input,select{
    padding:3px;
    color:#333333;

    border:1px solid #96A6C5;
    margin-top:2px;
    width:200px;
    font-size:11px;
}*/

select{
    width:auto;
    padding:2px;
}

.formline{
    padding:3px;
}

label{
    font-size:11px;
    text-align:right;
}

.input-container,.post-container,comments-container{
    padding: 2%;
    
}

#div-regForm,.registered{
    
    padding: 15px;
    background-color: rgb(203, 212, 228);
    background-size: 80px 60px;
    background-position: top left;
    background-repeat: no-repeat;
    /* background: #cbd4e4; */
    color: #203360;
    margin: 4% auto 4% auto;
    /* margin-left:10%; */
    width: 80%;
    height: 60%;
    position: relative;
}
.side-bar{
   
    
    background-color: rgb(203, 212, 228);
    color: #203360;
    margin-left: 8%;
    width: 15%;
    padding: 2%;
    float: left;
    height: 57%;
    display: block;
}
.main-era{
    
   
    background-color: rgb(203, 212, 228);
    
    margin-left: 1%;
    width: 60%;
    float: left;
    padding: 2%;
    display: block;
}

.clear_float
{
    clear:both;
    height:0;
    width:0;
}

.form-title,
.form-sub-title{
    font-size:20px;

    font-family:"Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
    font-size: 100%;
    font-weight:bold;
    /* height: 10%; */
    /* width: 50%; */
    position: relative;
}

.form-sub-title{
    font-weight:normal;
    padding:6px 0 15px 0;
}

.greenButton{
    width:auto;
    margin:10px 0 0 2px;
    padding:3px 4px 3px 4px;
    color:white;
    background-color:#589d39;
    outline:none;
    border:1px solid #006600;
    font-weight:bold;
}
.greenButton:active{
    background-color:#006600;
    padding:4px 3px 2px 5px;
}
.menu-Button:active,.Logout-Buttom:active,.About-Buttom:active,.Settings-Buttom:active{
     padding:4px 3px 2px 5px;
     opacity:0.5;
}
.menu-Button,.Logout-Buttom,.About-Buttom,.Settings-Buttom{
      float: right;
    padding:3px 4px 3px 4px;
    /* padding-right: 31px; */
    border-radius: 5px;
    border-style: outset;
    border-width: 2px;
    
      border-color: azure;
    
      background-color: inherit;
    color: cadetblue;
    
      width: 60px;
    text-align: center;
    opacity:0.7;
}
.lightBlueButton{
    width:auto;
    margin:10px 0 0 2px;
    padding:3px 4px 3px 4px;
    color:white;
    background-color:#50A6C2;
    outline:none;
    border:1px solid #00688B;
    font-weight:bold;
    opacity: 0.7;
}

.lightBlueButton:active,.show-hide-Button:active{
   // background-color: initial;
    
    opacity:0.5;
    padding:4px 3px 2px 5px;
}
.lightBlueButton:hover,.show-hide-Button:hover,.menu-Button:hover,.Logout-Buttom:hover,.About-Buttom:hover,.Settings-Buttom:hover{
   // background-color: initial;
    opacity:1;
    //border-width:6px;
   // padding:4px 3px 2px 5px;
}


#loading{
    left:10px;
    position:relative;
    top:3px;
    visibility:hidden;
}

.error{
    background-color:#ffebe8;
    border:1px solid #dd3c10;
    padding: 2px;
    text-align:center;
    margin-top: 1%;
    margin-left: 2%;
    display: inline-block;
    color: red;
    /* width: 25%; */
    /* height: 20%; */
    visibility:hidden;
    position: absolute;
    float: left;
    font-size: 90%;
    font-style: oblique;
}
.conector{
    
    /* background: #cbd4e4; */
    /* color: #203360; */
   
    /* margin: 4% 4% 4% 4%; */
    /* margin-left:10%; */
    width: 100%;
    
    padding: 2% 2% 2% 2%;
    font-style: normal;
    font-family: serif;
    /* margin-left: 18%; */
    font-weight: bolder;
    color: blue;
    /* display: inline-block; */
    /* border: solid; */
    /* border-width: 1px; */
    /* border-color: aliceblue; */
}
.icon
{
    background: url("http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/256/Status-user-online-icon.png");
    background-size: 50% 50%;
    background-position: left;
    background-repeat: no-repeat;
    
    float: left;
    clear: left;
    display: block;
    width: 18px;
    height: 18px;
}
.usernamePost{
    font-size: large;
    
    font-style: italic;
    font-weight: bolder;
    color: darkblue;
    margin-left: 2%;
    margin-top: 1%;
}
.post-text{
    padding-left: 4%;
    
    font-size: 16px;
    font-weight: bolder;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #606060;
}
.comment-container{
    margin-left: 5%;
    border-width: 1px;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-right: 2%;
    border-style: ridge;
    border-color: #AACCDD;
    border-width: 1px;
    width: auto;
    display: inline-block;
    float: left;
    clear: left;
    padding: 0.8%;
    border-radius: 10px;
}
.comment{
    width: auto;
    
    /* float: left; */
    /* margin-left: 10px; */
    padding: 1px 5px 2px 8px;
    color: dimgray;
}
.comments-container{
    transition: height s;
    border-style: outset;
    
    border-radius: 5px;
    border-width: 2px;
    border-color: whitesmoke;
    /* border-bottom-style: solid; */
    /* border-left-style: solid; */
    margin-top: 1%;
    margin-left: 2%;
    background-color: lavender;
    float: left;
    clear: left;
    width: 95%;
    /* transition: height 3s; */
}
.post-container{
    /* border-style: dashed; */
    
    /* border-width: 2px; */
    background-image: -webkit-linear-gradient(bottom,#FFFFFF 0%,#CCDDDD 100%);
    margin-top: 4%;
    float: left;
    width: 95%;
    border-radius: 10px;
}
.post-content{
    /* border-bottom-style: dotted; */
    
    border-width: 2px;
    float: left;
    width: 100%;
    /* clear: left; */
}
.usercoment{
    font-weight: bold;
    
    padding: 1px 5px 2px 3px;
    /* margin-left: 10px; */
    font-style: italic;
    /* display: inline; */
    /* border-style: solid; */
    padding-left: px;
    /* float: left; */
    /* clear: left; */
    /* position: static; */
    width: 11;
}
.show-hide-Button
{
    float: right;
    padding:3px 4px 3px 4px;
    /* padding-right: 31px; */
    border-radius: 5px;
    border-style: outset;
    border-width: 2px;
    border-color: azure;
    background-color: inherit;
    color: cadetblue;
    width: 40px;
    text-align: center;
    opacity: 0.7; 
    margin-top: 7px;
}
.user-line-container{
    border: solid;
    
    border-width: 1px;
    width: 100%;
    padding: 1%;
    color: darkgrey;
}
.show-hide-Button-container{
    margin-right: 11px;
    
}

.comment-container:before{
    content: "";
    border-width: 1px;
    position: absolute;
    z-index: 10;
    /* bottom: -40px; */
    /* left: 50px; */
    width: 13px;
    height: 7px;
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: #5a8f00;
    background: transparent;
    /* -webkit-border-bottom-right-radius: 80px 50px; */
    -moz-border-radius-bottomright: 80px 50px;
    border-bottom-right-radius: 80px 50px;
    display: block;
    margin-top: 42px; 
    border-style: ridge;
    border-color: #AACCDD;
}

.comment-container:after{
    content: "";
    position: absolute;
    z-index: 10;
    /* bottom: -40px; */
    /* left: 50px; */
    width: 20px;
    height: 7px;
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: #5a8f00;
    background: transparent;
    -webkit-border-bottom-right-radius: 40px 50px;
    -moz-border-radius-bottomright: 40px 50px;
    border-bottom-right-radius: 80px 50px;
    display: block;
    margin-top: 4px;
    border-style: ridge;
    border-color: #AACCDD;
}
.menu-Button{
    margin-top: 3px;
    background-color: ghostwhite;
    
}
.menu-container{
    /* margin-top: 33px; */
    display: none;
    margin-left: 647px;
    /* height: 300px; */
    width: 75px;
    border-style: solid;
    border-color: beige;
    border-width: 2px;
    float: left;
    position: relative;
    background-color: ghostwhite;
    padding-top: 3px;
}
.Settings-Buttom{
    
}
.Logout-Buttom{
    
}
.About-Buttom{
    
}
.menu-wrapper{
    /* border-style: solid; */
    
    margin-top: 33px;
    position: absolute;
}
.add-comment-text{
    width: 85%;
    
    height: 20px;
    /* margin-left: 11px; */
}
#post-Button{
    position: absolute;
    
    margin-top: 5px;
    height: 27px;
    width: 50px;
    text-align: center;
    margin-left: 2px;
    margin-top: 6px;
}
.response-container{
    /* border-style: solid; */
    
    float: left;
    width: 80%;
    margin-left: 10px;
}
.footer{
    /* border: solid; */
    
    padding: 15px;
    /* background: url(http://ih.constantcontact.com/fs074/1101257128861/img/501.png) #cbd4e4; */
    background-color: rgb(203, 212, 228);
    /* background-size: 30% 100%; */
    /* background-position: top left; */
    text-align: right;
    font-style: oblique;
    font: message-box;
    background-repeat: no-repeat;
    /* background: #cbd4e4; */
   
    margin: 4% auto 0% auto;
    /* margin-left:10%; */
    width: 81%;
   
    font-stretch: extra-expanded;
    color: blue;
    text-align: center;
    /* height: 50px; */
}